version: '3.8'

services:
  web:
    image: nginx:alpine
    restart: always
    ports:
      - "8080:80"          
    volumes:
      - ./public:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf