version: '3.8'

services:
  web:
    image: nginx:alpine
    restart: always
    ports:
      - "1111:80"          
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro